#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(219, 219, 219, 0.2) 0px,
      rgba(219, 219, 219, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(219, 219, 219, 0.2) 0px,
      #dbdbdb33 1px,
      transparent 1px,
      transparent 21px
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

.heading {
  text-align: center;
  font-size: 24pt;
  color: #2a2a30;
}

.percent {
  color: green;
}

.loading,
.no-data {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.table-container {
  padding: 24px;
  margin: auto;
}

.table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  background-color: #fff;
}

.table-heading {
  background-color: #a3b0c7;
  color: #fff;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f4f6f8;
}

.pagination {
  background-color: #f4f6f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.page-marker {
  color: #d6d6d6;
}
.pagination-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  margin: 0 20px;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #fff;
  border: 1px solid #d5d9d9;
  text-align: center;
  font-weight: 400;
  color: #0f1111;
  :hover {
    background-color: #f7fafa;
    border-color: #d5d9d9;
  }
}

.pagination-button > img {
  width: 16px;
  height: 16px;
}

.pagination-button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}
